.button-account {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    text-align: center;

}

.button-account a {

    border: 1px solid transparent;
    border-color: #000000;
    background: #000000;
    height: 45px;
    padding: 0 30px;
    border-radius: 50px;
    font-size: 14px;
    line-height: 45px;
    transition: all .3s;
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    width: 100%;

}

.button-account a:hover {
    background-color: #fff;
    color: #000000;
    border-color: #000000;
}