<div class="container mt-5">

    a

</div>

<!-- thông tin cửa hàng -->
<div class="container mt-5">

    <div class="row">

        <div class="col-lg-12">

            <div class="entry-header text-center">
                <h1 class="entry-title arti">
                    <a href="#" title="THÔNG TIN HỆ THỐNG CỬA HÀNG DIRTYCOINS"
                        class="text-decoration-none text-dark">THÔNG TIN HỆ THỐNG CỬA HÀNG DIRTYCOINS</a>
                </h1>
                <span class="post-author">
                    <span class="post-by"> Đăng bởi : </span> Billy </span>
                <span class="post-separator">|</span>
                <span class="blog-post-date"><i class="fas fa-calendar-alt me-1"></i>03/02/2023 </span>
            </div>

            <div class="postinfo-wrapper">

                <div class="post-info">

                    <div class="entry-summary blog-post-description">

                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;"><span style="font-family:Arial,Helvetica,sans-serif;"><span
                                    style="font-size:26px;"><strong>HỆ THỐNG CỬA HÀNG</strong></span><br>
                                <br>
                                <span style="font-size:18px;"><strong>CHI NHÁNH HỒ CHÍ MINH:</strong></span><br>
                                <span style="font-size:14px;">160 Nguyễn Cư Trinh, Phường&nbsp;</span></span>Nguyễn
                            Cư Trinh, Quận 1<br>
                            <span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:14px;">561
                                    Sư Vạn Hạnh, Phường 13, Quận 10</span></span><br>
                            <span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:14px;">The
                                    New Playground 26 Lý Tự Trọng, Phường Bến Nghé, Quận 1</span></span><br>
                            <span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:14px;">Gian
                                    36 Central Market 4 Phạm Ngũ Lão, Phường Phạm Ngũ Lão, Quận 1</span></span><br>
                            <span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:14px;">326
                                    Quang Trung,Phường 10, Quận Gò Vấp</span></span><br>
                            <span style="font-family:Arial,Helvetica,sans-serif;"><span
                                    style="font-size:18px;">---<br>
                                    <strong>CHI NHÁNH HÀ NỘI:</strong></span><br>
                                <span style="font-size:14px;">49-51 Hồ Đắc Di, Phường&nbsp;Nam Đồng, Quận&nbsp;Đống
                                    Đa</span><br>
                                <span style="font-size:18px;">---<br>
                                    <strong>CHI NHÁNH HƯNG YÊN:</strong></span><br>
                                <span style="font-size:14px;">PT.TV 136 - Mega Grand World - Ocean Park, Quận Văn
                                    Giang<br>
                                    <strong>---</strong></span><br>
                                <span style="font-size:18px;"><strong>CHI NHÁNH BIÊN HÒA:</strong></span><br>
                                <span style="font-size:14px;">151A Phan Trung, Phường Tân Mai, Tp. Biên Hòa, Tỉnh
                                    Đồng Nai<br>
                                    <strong>---</strong></span><br>
                                <span style="font-size:18px;"><strong>CHI NHÁNH BÌNH
                                        DƯƠNG:</strong></span></span><br>
                            <span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:14px;">28
                                    Yersin, Phường Hiệp Thành., TP. Thủ Dầu Một, Tỉnh Bình Dương</span></span><br>
                            <span style="font-family:Arial,Helvetica,sans-serif;"><span
                                    style="font-size:14px;"><strong>---</strong></span><br>
                                <span style="font-size:18px;"><strong>CHI NHÁNH CẦN THƠ:</strong></span><br>
                                <span style="font-size:14px;">52 Mậu Thân, Phường An Phú, Quận Ninh Kiều, Tp. Cần
                                    Thơ</span></span>
                        </p>
                        <p style="text-align: center;"><span style="font-family:Arial,Helvetica,sans-serif;"><span
                                    style="font-size:16px;"><a class="text-decoration-none text-dark"
                                        href="tel:0933 800 190">0933 800 190</a> - <a
                                        class="text-decoration-none text-dark"
                                        href="tel:1900252557">1900252557</a></span></span></p>
                        <p style="text-align: center;"><span style="font-family:Arial,Helvetica,sans-serif;"><span
                                    style="font-size:16px;">csteamdcs</span></span><span
                                style="font-family:Arial,Helvetica,sans-serif;"><span
                                    style="font-size:16px;">@gmail.com</span></span></p>

                        <div class="social-sharing">
                            <div class="widget widget_socialsharing_widget">
                                <h3 class="widget-title">Chia sẻ bài viết</h3>
                                <ul class="blog-social-icons">
                                    <li><a target="#" title="facebook"
                                            href="https://facebook.com/sharer.php?u=dirtycoins.vn/thong-tin-he-thong-cua-hang-dirtycoins"><i
                                                class="fa fa-facebook"></i></a></li>
                                    <li><a target="#" title="google"
                                            href="https://plus.google.com/share?url=dirtycoins.vn/thong-tin-he-thong-cua-hang-dirtycoins"
                                            class="share-google"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
<!-- end thông tin cửa hàng -->