 <!-- top footer -->
 <div class="container-fluid mt-5" style="background-color: #f1f1f1;">

    <div class="row">

        <div class="col-sm-12">

            <h5>
                <i class="fa-solid fa-phone me-1 py-3"></i>Hỗ trợ / Mua hàng:
                <label style="color: red;">0933 800 190</label>
            </h5>

        </div>

    </div>

</div>
<!-- end top footer -->

<!-- footer -->
<div class="container-fluid" style="border-bottom: 0.5px solid #434343;">

    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

            <h3>Hệ Thống Cửa Hàng</h3>

            <table>
                <tbody>

                    <tr>
                        <td style="width: 20px;" class="align-top"><i class="fa fa-map-marker"></i></td>
                        <td><b>Chi Nhánh Hồ Chí Minh</b><br>
                            <b>Quận 1</b> - 160 Nguyễn Cư Trinh, Phường Nguyễn Cư Trinh.<br>
                            <b>Quận 10</b> - 561 Sư Vạn Hạnh, Phường 13.<br>

                            <b>Quận 1</b> - The New Playground 26 Lý Tự Trọng, Phường Bến Nghé.<br>

                            <b>Quận 1</b> - Central Market 4 Phạm Ngũ Lão, Phường Phạm Ngũ Lão.
                            <br>
                            <b>Quận Gò Vấp</b> - 326 Quang Trung, Phường 10.
                            <br>
                        </td>
                    </tr>

                    <tr>
                        <td class="align-top">
                            <i class="fa fa-map-marker"></i>
                        </td>
                        <td><b>Chi Nhánh Biên Hòa:</b><br>
                            <b>TP. Biên Hòa </b> - 151A Phan Trung, Phường Tân Mai.
                        </td>
                    </tr>

                    <tr>
                        <td class="align-top"><i class="fa fa-map-marker"></i></td>
                        <td><b>Chi Nhánh Bình Dương:
                            </b><br>
                            <b>TP. Thủ Dầu Một</b> - 28 Yersin, Phường Hiệp Thành.
                        </td>
                    </tr>

                    <tr>
                        <td class="align-top"><i class="fa fa-map-marker"></i></td>
                        <td><b>Chi Nhánh Cần Thơ:
                            </b><br>
                            <b>Quận Ninh Kiều</b> - 52 Mậu Thân, Phường An Phú.
                        </td>
                    </tr>

                    <tr>
                        <td class="align-top"><i class="fa fa-map-marker"></i></td>
                        <td><b>Chi Nhánh Hà Nội:</b><br>
                            <b>Đống Đa</b> - 49-51 Hồ Đắc Di, Phường Nam Đồng.
                        </td>
                    </tr>

                    <tr>
                        <td class="align-top"><i class="fa fa-map-marker"></i></td>
                        <td><b>Chi Nhánh Hưng Yên:</b><br>
                            <b>Văn Giang</b> - PT.TV 136 - Mega Grand World - Ocean Park
                        </td>
                    </tr>

                    <tr>
                        <td><i class="fa fa-phone"></i></td>
                        <td><a href="tel:0933800190" class="text-decoration-none"
                                style="font-family: sans-serif; color: #434343;">0933 800 190</a> - <a
                                href="tel:1900252557" class="text-decoration-none text-dark"
                                style="font-family: sans-serif; color: #434343;">1900252557</a>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-envelope"></i></td>
                        <td><a href="mailto:csteamdcs@gmail.com" class="text-decoration-none text-dark"
                                style="font-family: sans-serif; color: #434343;">csteamdcs@gmail.com</a></td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

            <h3>Mạng Xã Hội</h3>
            <a href="#"><i class="fa-brands fa-facebook fa-shake fa-xl me-1" style="color: #434343;"></i></a>
            <a href="#"><i class="fa-brands fa-instagram fa-shake fa-xl me-1" style="color: #434343;"></i></a>
            <a href="#"><i class="fa-brands fa-youtube fa-shake fa-xl me-1" style="color: #434343;"></i></a>

            <h3 class="mt-5">Chính sách</h3>
            <ul>

                <li>
                    <a target="_blank" href="#" class="text-decoration-none"
                        style="font-family: sans-serif; color: #434343;">
                        Chính sách bảo mật
                    </a>
                </li>

                <li>
                    <a target="_blank" href="#" class="text-decoration-none"
                        style="font-family: sans-serif; color: #434343;">
                        FAQ
                    </a>
                </li>

                <li>
                    <a target="_blank" href="#" class="text-decoration-none"
                        style="font-family: sans-serif; color: #434343;">
                        Chính sách Thẻ Thành viên
                    </a>
                </li>

                <li>
                    <a target="_blank" href="#" class="text-decoration-none"
                        style="font-family: sans-serif; color: #434343;">
                        Chính sách Bảo hành &amp; Đổi trả
                    </a>
                </li>

                <li>
                    <a target="_blank" href="#" class="text-decoration-none"
                        style="font-family: sans-serif; color: #434343;">
                        Chính sách giao hàng hỏa tốc
                    </a>
                </li>

            </ul>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

            <h3>Fanpage</h3>

            <div class="cap-effect">

                <div class="card card-index text-white">
                    <img src="images/footter/391729113_308134818605965_2475871460713727963_n.jpg"
                        class="card-img img-fluid rounded-0" alt="...">
                    <div class="card-img-overlay">
                        <img src="images/footter/anhdaidien.jpg" class="img-fluid" alt="..."
                            style="width: 50px; height: 50px;">
                        <h5 class="card-title">Dirty Coins</h5>
                        <p class="card-text">1,024,363 followers</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
<!-- end footer -->

<!-- copy right -->
<div class="container mt-5">

    <h6 class="text-center">
        Copyright © 2023 Dirty Coins Studio. Powered by Sapo
    </h6>

</div>
<!-- end copy right -->