<!-- nav -->
<div class="container-fluid">

    <div class="row">

        <nav class="navbar fixed-top navbar-expand-lg" style="background-color: #f1f1f1;">

            <div class="container-fluid">

                <div>
                    <a class="me-2 text-dark d-lg-none d-xl-none d-xxl-none ngonNgu" href="#!login">
                        <i class="fa-solid fa-user"></i>
                    </a>
                    <a class="me-2 text-dark d-lg-none d-xl-none d-xxl-none ngonNgu cart-icon-container" href="#!cart">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="cart-item-count" id="cartItemCount">0</span>
                    </a>
                </div>

                <a class="navbar-brand" href="#!">
                    <img src="images/logo/logo.webp" alt="logo DirtyCoins | VIETNAMESE STREETWEAR BRAND"
                        style="width: 174.13px; height: 55.14px;">
                </a>

                <div>
                    <a class="me-2 text-dark d-lg-none d-xl-none d-xxl-none ngonNgu" href="#">
                        Vi
                    </a>
                    <a class="text-dark d-lg-none d-xl-none d-xxl-none ngonNgu" href="#">
                        En
                    </a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

                        <li class="nav-item dropdown nav-custom">
                            <a class="nav-link nav-link-custom" href="#!products" role="button" aria-expanded="false">
                                SHOP
                            </a>
                            <ul class="dropdown-menu dropdown-menu-custom py-0 border-0">
                                <li><a class="dropdown-item dropdown-item-custom" href="#!products/tops">TOPS</a></li>
                                <li><a class="dropdown-item dropdown-item-custom" href="#!products">BOTTOMS</a></li>
                                <li><a class="dropdown-item dropdown-item-custom" href="#!products">BAGS</a></li>
                                <li><a class="dropdown-item dropdown-item-custom" href="#!products">ACCESSORIES</a></li>
                            </ul>
                        </li>
                        <li class="nav-item nav-custom">
                            <a class="nav-link nav-link-custom" href="#!products">BEST SELLER</a>
                        </li>
                        <li class="nav-item dropdown nav-custom">
                            <a class="nav-link nav-link-custom" href="#!products" role="button" aria-expanded="false">
                                COLLAB'S
                            </a>
                            <ul class="dropdown-menu dropdown-menu-custom py-0 border-0">
                                <li><a class="dropdown-item dropdown-item-custom" href="#!products">B
                                        RAY</a></li>
                                <li><a class="dropdown-item dropdown-item-custom" href="#!products">GAM
                                        ESPORTS</a></li>
                                <li><a class="dropdown-item dropdown-item-custom" href="#!products">ONE
                                        PIECE</a></li>
                            </ul>
                        </li>

                        <li class="nav-item nav-custom">
                            <a class="nav-link nav-link-custom" href="#!products">NEWS</a>
                        </li>
                        <li class="nav-item nav-custom">
                            <a class="nav-link nav-link-custom" href="#!contact">CONTACT</a>
                        </li>
                        <li class="nav-item nav-custom">
                            <a class="nav-link nav-link-custom" href="#!about">ABOUT</a>
                        </li>

                    </ul>

                    <form class="d-flex search-container me-5" role="search">
                        <input id="search-input" class="form-control me-2" type="search" placeholder="Search"
                            aria-label="Search" ng-model="keyword" ng-model-options="{debounce:1000}">
                        <button id="search-button" class="btn btn-outline-success" type="submit"><i
                                class="fa-solid fa-magnifying-glass"></i></button>




                    </form>

                </div>

                <a class="me-2 text-dark  d-none d-lg-block ngonNgu" href="#!login">
                    <i class="fa-solid fa-user"></i>
                </a>

                <a class="me-2 text-dark d-none d-lg-block ngonNgu cart-icon-container" href="#!cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="cart-item-count" id="cartItemCount">0</span>
                </a>

                <a class="me-2 text-dark img-fluid d-none d-lg-block ngonNgu" href="#">
                    Vi
                </a>

                <a class="me-2 text-dark img-fluid d-none d-lg-block ngonNgu" href="#">
                    En
                </a>

            </div>

        </nav>

    </div>

</div>
<!-- end nav -->